<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://twitter.com/kciredor_" target="_blank" rel="nofollow noopener noreferrer">twitter</a></li>
          <li><a href="https://news.kciredor.com/" target="_blank" rel="nofollow noopener noreferrer">newsletter</a></li>
          <li><a href="{{ "/feed.xml" | relative_url }}">rss feed</a></li>
          <li><a href="https://github.com/kciredor" target="_blank" rel="nofollow noopener noreferrer">github</a></li>
          <li><a href="https://www.linkedin.com/in/roderickschaefer/" target="_blank" rel="nofollow noopener noreferrer">linkedin</a></li>
          <li><a href="https://wehandle.it/" target="_blank" rel="nofollow noopener noreferrer">company</a></li>
          <li><a href="https://mastodon.social/@kciredor" target="_blank" rel="nofollow noopener noreferrer">mastodon</a></li>
          <li><a href="https://hackerone.com/kciredor" target="_blank" rel="nofollow noopener noreferrer">hackerone</a></li>
          <li><a href="https://bugcrowd.com/kciredor" target="_blank" rel="nofollow noopener noreferrer">bugcrowd</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
